body{
    background-image:url("mainbg.jpg");
    color:black;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-position-y:top;
}
.general-title{
    color:bisque;
    margin-left:40%;
    margin-top:5%;
    font-size:300%;
    
}
.login-btn-div{
    display:block;
    margin-top:12%;
    margin-left:40%;
}
.goto-login-btn{
    width:20%;
    height:10%;
}
.admin{
    margin-left:2%;
    margin-right:2%;
    background: rgba(114, 116, 114, 0.3);
    color:azure;
}
.regform{
    margin-left:40%;
    margin-top:5%;
}
/*testing the website menu */
.topnav{
    margin:2%;
    background-color:rgba(191, 134, 52, 0.8);
    overflow: hidden;
}
.topnav a{
    float: left;
    display:block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:17px;
}
.active{
    background-color: #a8cb29;
    color:white;
}
.topnav .icon{
    display:none;
}
.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size:17px;
    border:none;
    outline: none;
    color:white;
    padding:14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content{
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}
.dropdown-content a{
    float:none;
    color:black;
    padding: 12px 16px;
    text-decoration:none;
    display:block;
    text-align:left;
}
.topnav a:hover, .dropdown:hover .dropbtn{
    background-color:#555;
    color:white;
}
.dropdown-content a:hover{
    background-color:#ddd;
    color:black;
}
.dropdown:hover .dropdown-content{
    display:block;
}
.username{
    color:azure;
    margin-left:88%;
}
.adminnav{
   margin:2%;
    background-color:rgba(191, 134, 52, 0.8);
    overflow: hidden;
}
.adminnav a{
   float: left;
    display:block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:17px;
}
.adminnav a:hover{
    background-color:#555;
    color:white;
}
.loginBtn{
    margin-top:5%;
    margin-left:35%;
}