{% extends 'base.html' %}


{% block content %}

<div class="login-btn-div">
    <form method="POST" action="{{url_for('login')}}">
        <table>
            <tr>
                <td><label for="username" >Gebruikersnaam: </label></td> 
                <td><input type="text" id="username" name="username"></td>
            </tr>
            <tr>
                <td><label for="password">Paswoord: </label></td>
                <td><input type="password" id="password" name="password"></td>
            </tr>
            <tr>
                <td></td>
                <td> <input type="submit" value="Log In"></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}